#carousel
    display: flex
    overflow: hidden
    width: 60%
    margin: 0 auto

@media screen and ( max-width: 400px )
    #carousel
        width: 54%
.carousel-card img
    width: 200px
.carousel-card
    margin: 5px
    text-align: center
.carousel-card .title
    font-size: 13px
.carousel-card .product_info_text
    width: 100px
.carousel-card .product_info_text p
    width: 100px
.carousel-card p 
    font-size: 12px
.carousel-card .product_info_text span
    color: grey
    text-decoration: line-through
.carousel-card .product-info
    padding: 20px 0
#slider-indicators
    display: flex
    width: 200px
    margin: 0 auto !important
#slider-indicators li
    margin: 15px
    list-style: none
    height: 10px
    width: 10px
    border: solid black 1px
    border-radius: 50%
#product-carousel h3
    text-align: center
    font-weight: 600
    padding: 40px
.ghost
    display: none
@media screen and ( max-width: 400px )
    .ghost
        display: inline
    #slider-indicators
        padding: 0
        width: 275px