#first
    background-image: url(../../public/img/services/service-1.jpg)
    background-position: right
    background-size: cover
    background-repeat: no-repeat
    padding: 60px 50px
    margin: 5px
    min-width: 406px
#second
    background-image: url(../../public/img/services/service-2.jpg)
    background-position: right
    background-size: cover
    background-repeat: no-repeat
    padding: 60px 50px
    margin: 5px
    min-width: 406px
#third
    background-image: url(../../public/img/services/slider-3.jpg)
    background-position: right
    background-size: cover
    background-repeat: no-repeat
    padding: 60px
    margin: 5px
    min-width: 406px
#categories h2
    text-align: center
    color: white
    border-bottom: solid white 2px
    padding: 0 70px
#categories
    display: flex
    justify-content: space-around
    padding: 50px 0
    flex-wrap: wrap
